@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5em;
  background: #262626;
  font-family: 'Annie Use Your Telescope', cursive;
}
